
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Archivo+Black&family=Baloo+2:wght@500&family=Merriweather+Sans&family=Merriweather:wght@700&family=Poppins:wght@200;300;500;600;700;800&family=Roboto:wght@400;700&family=Updock&display=swap');

body{
    margin: 0%;
    padding: 0%;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
overflow-x: hidden;
  }

header{
    width: 100%;
    height: 98vh;
    position: relative;
    background-color:rgb(233,250,252);
}


/* Navigationbar */
nav{
    padding-bottom: 1%;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-right: 4%;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    margin: 30px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #505050;
    text-decoration: none;
}

.logo{
    font-size: 20px;
    color: #000000;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
 padding-left: 8%;
}

span{
    color: rgb(57, 26, 231);
}

/* introduction */
.intro-container{
padding-bottom: 2%;
margin-left:8% ;
}

.lines:before{
    content:" ";
    display: block;
    height: 2px;
  width: 50px;
  position: relative;
  top: 30px;
  right: 60px;
  background-color: rgb(228, 128, 13);
  margin-left: 62px;
  margin-top: 70px;
  
}

.vet{
margin-left: 60px;
color: rgb(228, 128, 13);
font-size: 15px;
}

.family{
    font-size: 40px;
    font-weight: bold;
    margin-left:-5px;
    color: rgb(48,47,62);
}

.duty{
    font-size: 20px;
    padding-top: -20px;
    margin-left:-5px;
    color: rgb(48,47,62);
}

.intro-container button{
        background-color: rgb(43,160,171);
        border: none;
        color: white;
        padding: 11px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;    
}

.started{
border: 2px solid #373636;
color: #373636;
}

.fa-play{
    display: inline-block;
 color: rgb(117, 160, 216);
    padding: 20px;
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    align-items: center;
   
}

.image-2{
 height: 320px;
 width: 340px;
 border: 58px solid rgb(202, 243, 241);
 margin-left: 750px;
 margin-top: -420px;
 border-radius: 600px;
}

.image-2 img{
    width: 500px;
    height: 400px;
   margin-left: -80px;
   margin-top: -40px;
}


/* Service */
.services{
	height:830px;
	background-color:rgb(247,254,255)   ;
}

.services-text{
    display: flex;
}

.services-text p{
    font-size: 18px;
	font-weight:600;
	color:rgb(109,111,121);
    float: right;
    margin-left: 35%;
    padding-top: 5%;
}

.services-text h1{
font-size: 30px;
margin-left: 20px;
padding-top: 5%;
color: rgb(109,111,121);
}

 .content-box{
display: flex;
width: 1200px;
margin-top: 30px;
font-size: 12px;

 }
 
 .content-box2{
    display: flex;
    width: 1200px;
    margin-top: 30px;
    padding-top: 3%;
    font-size: 12px;
     }

 .card{
     min-height: 250px;
     width: 700px;
     padding-left: 20%;
     border-radius: 5px;
     position: relative;
     background: rgb(255, 255, 255);
     box-sizing: border-box;
     margin:50px;
     padding:25px;
     margin: auto;
     margin-left: 7%;
     padding-bottom: 10px;
 }

 .card h3{
font-size: 20px;
color: rgb(54, 52, 52);

 }

 .card p{
    font-size: 14px;
    color: #4e4949;
     }

 .fa-solid{
     display: inline-block;
     border-radius: 50%;
     background-color: #f1fffe;
     padding: 20px;
     color: rgb(107, 130, 190);
 }

 
   /* about-container */
.about-container{
    display: flex;
    background: #e0ffff;
    height: 500px;

}

.about-container img{
    background-color: #b0e0e6;
    display: inline-block;
    border-radius: 3%;
    margin-left:120px ;
    margin-top: 50px ;

}

.about-text{
    padding-top: 4%;
    width: 550px;
  margin-left: 15%;
  margin-right: 10%;
}

.about-text h2{
    padding-top: 5%;
    margin-left: 10px;
    font-size: 28px;
    color: rgb(42,41,57);
}

.about-text p{
 color: rgb(48, 48, 49);
 font-size: 17px;
}

.about-text button{
    background-color: rgb(43,160,171);
    border: none;
    color: white;
    padding: 11px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;  
    margin-left: 8px;
}


   /* comments */
.comments{
    background: #f5ffff;
    margin-top: -3%;
    height: 700px;
}
.review{
    background: #ffffff;
    margin: 4px;
padding-right: 20px;
margin-top: -120px;
height: 400px;
}

.rev-con{
    display: flex;
    margin-top: 190px;
    padding-bottom: 50px;
    padding: 20px;
}

.next{
    font-size: 16px;
    margin-left: 350px;
    color: #1e9b9b;;
    font-weight: bold;
}

.patients h3{
    font-size: 30px;
    padding-top:150px ;
    margin-left: 30px;
}

.patients p{
    font-size: 18px;
    color: #5f5a5a;
    float: right;
    margin-top:-75px;
    margin-right: 30px;
}

.review h2{
    color: rgb(0, 0, 0);
    margin-left: 12px;
}

.review p{
    color: rgb(120, 120, 128);
    margin-left: 12px;
}

/* .doctors{
    display: flex;
    background: #abdde4;
    height: 500px;
    margin: 20px;
} */

.image-box img{
    display: inline-block;
    border-radius: 3%;
    background-color: #1a1818;
    height: 450px ;
    margin-left:30% ;
    padding: 20px;
    margin-top: 15% ;
}



.subscribe{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width:80%;
	background:rgb(233,250,252);
	border-radius:10px;
	position: relative;
	align-items: center;
    margin-left:5% ;
    padding: 2%;
}

.toy{
    background-color: rgb(247,254,255);
    height: 500px;
    padding-top: 5%;
}

.subscribe h3{
    font-size: 40px;
    text-align: center;
}
.box{
    padding:10px ;
    border-radius: 5px;
    background: #ececee;
}

.box input{
    font-size: 25px;
    color: #000;
    padding: 20px 35px;
    border: none;
    outline: none;
    background: #eeecec;
}

.box button{
  color: #fff;
    color: rgb(240, 238, 238);
    font-size: 20px;
    padding: 18px 14px;
    border: none;
    border-radius: 5px;
    background: rgb(43,160,171);
    cursor: pointer;
    transition: .3s;
}
.box button:hover{
   
      background: #b7f7f1;
  
  }


  /* Veterinarians  */
  .personnel{
    background: rgb(247,254,255);
    margin-top: -40px;
}

.personnel h1{
    text-align: left;
    font-size: 45px;
    padding-top: 4%;
    padding-left: 40px;
}

.personnel .all{
    float: right;
margin-right: 200px;
margin-top: -70px;
 
}
.members{
    display: flex;
    padding-top: -60px;
    margin-left: 0px;
    
}

.team-ab2 img{
    width: 380px;
    height: 300px;
    margin: 25px;
    border-radius: 2%;
    background-color: rgb(244,240,253);
}

.team-ab2 h6{
    margin-top: -3%;
margin-left: 7%;
font-size: 18px;
color: rgb(72, 72, 77)
}
.team-ab2 p{
    margin-top: -8%;
    margin-left: 7%;
    font-size: 15px;
    color: rgb(66, 66, 68);
    }
    

.team-ab1 img{
    width: 380px;
    height: 300px;
    border-radius: 2%;
    margin: 25px;
    background-color: rgb(226,253,254);
}

.team-ab1 h6{
    margin-top: -3%;
    margin-left: 7%;
    font-size: 18px;
    color: rgb(72, 72, 77)
    }
    .team-ab1 p{
        margin-top: -8%;
        margin-left: 7%;
        font-size: 15px;
        color: rgb(66, 66, 68);
        }


.team-ab3 img{
    width: 380px;
    height: 300px;
    border-radius: 2%;
    margin: 25px;
    background-color: rgb(255,245,240)
}

.team-ab3 h6{
    margin-top: -3%;
    margin-left: 7%;
    font-size: 18px;
    color: rgb(72, 72, 77)
    }
    .team-ab3 p{
        margin-top: -8%;
        margin-left: 7%;
        font-size: 15px;
        color: rgb(66, 66, 68);
        }


.black{
    display: flex;
}
.black .name{
font-size: 15px;
margin-left: 10px;
}

.black .job{
font-size: 12px;
margin-left: 12px;
}

.star{
    display: flex;
    flex-wrap: wrap;
}

.image-5 img{
    height: 50px;
    width: 50px;
    border-radius: 90%;
    margin-left: 10px;
}
.fa-star{
    color: rgb(251,153,80);
margin: 4px;
}

.star p{
    margin-top: 3px;
    margin-left: 20px;
}


/* footer */
.footer{
    /* margin-top:5% ; */
}
  .footer-container{
      background-color: rgb(247,254,255);
      margin: auto;
      height: 380px;
  }

  .footer-row{
      display: flex;
      flex-wrap: wrap;
  }

  ul{
      list-style: none;
  }

  .footer-column{
   width: 25%;
   /* padding: 0 15px; */

  }

  .footer-column h4{
      font-size: 17px;
      font-weight: bold;
      color: #000000;
      margin-bottom: 30px;
      font-weight: bold;
      position: relative;
  }

  .footer-column ul li a{
      font-size: 15px;
       padding: 5px;
      text-decoration: none;
      font-weight: 500;
      color: #444040;
      display: block;
  }


.fa-twitter{
    background-color: rgb(73, 156, 189);
    border-radius: 20px;
    display: inline-block;
}

.fa-google-plus-g{
    background-color: rgb(247, 64, 9);
    border-radius: 60px;
    display: inline-block;
}

.fa-facebook-f{
    background-color: rgb(8, 57, 104);
    border-radius: 20px;
    display: inline-block;
}

.fa-linkedin-in{
    background-color: rgb(7, 131, 248);
    border-radius: 30px;
    display: inline-block;
}

.footer-column .media{
    text-decoration: none;
    padding-right: -50px;
}

.fa-brands{
    margin: 10px;
     color: #ffffff;
     display: inline-block;
     border-radius: 20px;
     padding: 5px;
 }

.solid-2{    
display: inline-block;
border-radius: 50%;
color: rgb(107, 130, 190);   
font-size: 30px;
margin-left: 10px;
margin-top: 10px;
}

.media p{
    text-align: left;
    font-size: 15px;
    margin-left: 30px;
}

.media{
    margin-right: -50px;
}

.fa-arrow-right{
    background: none;
    color: rgb(49,167,178);
}
.fa-quote-left{
    background: none;
    color: rgb(233,250,252);
    font-weight: bold;
    font-size: 30px;
    
}

.see{
    float: right;
    margin-top: -8%;
    margin-right: 50px;
    color: rgb(72,178,188);
    font-size: 15px;
    font-weight: bold;
}